span.form-label {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
}

mat-form-field {
    width: 100%;
    padding: 10px 0;
}

.mat-icon-button.mat-primary {
    color: #e91717 !important;
}

div.new-customer {
    background-color: white;
    border-radius: 30px;
}

div.new-customer>div {
    padding: 0 30px;
}

.date .mat-form-field {
    line-height: 0 ;
}

::ng-deep.mat-checkbox-checked.mat-accent .mat-checkbox-background {
    background:linear-gradient(90deg,
    rgba(0, 127, 146, 1) 20%,
    rgba(21, 48, 91, 1) 80%
  ) ;
}
::ng-deep .mat-checkbox-ripple .mat-ripple-element {
    background:linear-gradient(90deg,
    rgba(0, 127, 146, 1) 20%,
    rgba(21, 48, 91, 1) 80%
  ) !important ;
}


@media only screen and (min-width: 992px) {
    div.new-customer  {
    width: 700px;
}
}